<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  
</div>
</div>
</div> -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form class="container mt-5 mb-5" action="/upload" method="post" enctype="multipart/form-data">
    <h1>Create product</h1>
  <div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input name="title" required type="text" class="form-control" id="title" placeholder="Enter name...">
</div>
<div class="mb-3">
  <label for="content" class="form-label">Content</label>
  <textarea name="content" class="form-control" id="content" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="formFileLg" class="form-label">Upload Image</label>
  <input required name="image" class="form-control form-control-lg" id="formFileLg" type="file">
</div>
<div class="mb-3">
<label for="price_1">Price-1</label>
<input required type="number" id="price_1" name="price_1" min="1" max="1000000">
</div>
<div class="mb-3">
<label for="price_2">Price-2</label>
<input type="number" id="price_2" name="price_2" min="1" max="1000000">
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>